In [1]:
import pandas as pd
import re
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.model_selection import train_test_split

C:\Users\david\AppData\Local\Temp\ipykernel_4808\541476175.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\david\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\david\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# Import data

In [2]:
labels = pd.read_csv("Data/medical_tc_labels.csv")
labels

   condition_label                   condition_name
0                1                        neoplasms
1                2        digestive system diseases
2                3          nervous system diseases
3                4          cardiovascular diseases
4                5  general pathological conditions

In [4]:
pd.set_option('display.max_colwidth', None)
data = pd.read_csv("Data/medical_tc_train.csv")
data.head()

,condition_label,medical_abstract
0,5,"Tissue changes around loose prostheses. A canine model to investigate the effects of an antiinflammatory agent. The aseptically loosened prosthesis provided a means for investigating the in vivo and in vitro activity of the cells associated with the loosening process in seven dogs. The cells were isolated and maintained in culture for sufficient periods of time so that their biologic activity could be studied as well as the effect of different agents added to the cells in vivo or in vitro. The biologic response as determined by interleukin-1 and prostaglandin E2 activity paralleled the roentgenographic appearance of loosening and the technetium images and observations made at the time of revision surgery. The correlation between clinical, roentgenographic, histologic, and biochemical loosening indicates that the canine model is suitable for investigating the mechanisms of prosthetic failure. A canine model permits the study of possible nonsurgical therapeutic interventions with the ultimate hope of stopping or slowing the loosening process."
1,1,"Neuropeptide Y and neuron-specific enolase levels in benign and malignant pheochromocytomas. Neuron-specific enolase (NSE) is the isoform of enolase, a glycolytic enzyme found in the neuroendocrine system. Neuropeptide Y (NPY) is a peptide recently discovered in the peripheral and central nervous systems. Serum NSE and plasma NPY levels have been reported to be increased in some patients with pheochromocytoma. The authors evaluated whether the measurement of these molecules could help to discriminate between benign and malignant forms of pheochromocytoma. The NSE levels were normal in all patients with benign pheochromocytoma (n = 13) and elevated in one half of those with malignant pheochromocytoma (n = 13). Plasma NPY levels were on the average significantly higher in the malignant (177.1 +/- 38.9 pmol/l, n = 16) than in the benign forms of the disease (15.7 +/- 389 pmol/l, n = 24). However, there was no difference in the percentage of patients with elevated NPY levels. These results show that determination of serum NSE may be useful for distinguishing between malignant and benign pheochromocytoma; the measurement of plasma NPY is not useful for differentiating the two kinds of tumors."
2,2,"Sexually transmitted diseases of the colon, rectum, and anus. The challenge of the nineties. During the past two decades, an explosive growth in both the prevalence and types of sexually transmitted diseases has occurred. Up to 55 percent of homosexual men with anorectal complaints have gonorrhea; 80 percent of the patients with syphilis are homosexuals. Chlamydia is found in 15 percent of asymptomatic homosexual men, and up to one third of homosexuals have active anorectal herpes simplex virus. In addition, a host of parasites, bacterial, viral, and protozoan are all rampant in the homosexual population. Furthermore, the global epidemic of AIDS has produced a plethora of colorectal manifestations. Acute cytomegalovirus ileocolitis is the most common indication for emergency abdominal surgery in the homosexual AIDS population. Along with cryptosporidia and isospora, the patient may present to the colorectal surgeon with bloody diarrhea and weight loss before the diagnosis of human immunodeficiency virus (HIV) disease. Other patients may present with colorectal Kaposi's sarcoma or anorectal lymphoma, and consequently will be found to have seropositivity for HIV. However, in addition to these protean manifestations, one third of patients with AIDS consult the colorectal surgeon with either condylomata acuminata, anorectal sepsis, or proctitis before the diagnosis of HIV disease. Although aggressive anorectal surgery is associated with reasonable surgical results in some asymptomatic HIV positive patients, the same procedures in AIDS (symptomatic HIV positive) patients will often be met with disastrous results. It is incumbent upon the surgeon, therefore, to recognize the manifestations of HIV disease and diagnose these conditions accordingly."
3,1,"Lipolytic factors associated with murine and human cancer cachexia. We have identified a lipolytic factor in extracts of a cachexia-inducing murine carcinoma (MAC16) that shows characteristics of an acidic peptide and appears to be composed of three fractions of apparent molecular weights corresponding to 3 kd, 1.5 kd, and 0.7 kd, as determined by exclusion chromatography. Material with identical chromatographic and molecular weight characteristics was also present in the serum of patients with clinical cancer cachexia but absent from normal serum, even under conditions of starvation. The MAC16 lipid factor, when injected into animals bearing the non-cachexia-inducing tumor MAC13, was capable of inducing weight loss without a significant reduction in food intake. Similar lipolytic material, although in lower concentration, was also found in the MAC13 tumor extracts. These findings suggest that cachexia may arise from the enhanced expression of a lipolytic factor associated with tumor cells."
4,3,"Does carotid restenosis predict an increased risk of late symptoms, stroke, or death? The identification of carotid restenosis as an unexpected late complication of carotid endarterectomy has prompted concerns regarding its importance as a source of new cerebral symptoms, stroke, and death. To investigate these concerns, we analyzed a consecutive series of 507 patients undergoing 566 carotid endarterectomies, each documented as technically satisfactory. Post-operative duplex Doppler examination data at 3 days, 1, 3, 6, 12 months, and annually thereafter in 484 arteries (85.5%) permitted classification of these arteries according to the most severe degree of postoperative stenosis: normal (n = 306); 1% to 19% (n = 89); 20% to 50% (n = 40); more than 50% (n = 49, including 8 occluded). The incidence of more than 50% restenosis was 14.5% in female and 7.7% in male patients (p = 0.003). Life table analyses to 10 years revealed a significantly greater life expectancy among those with restenosis (p = 0.05). Stroke was also less likely in patients with restenosis, although this difference did not reach statistical significance. When survival and stroke were both endpoints, the likelihood of patients with more than 50% restenosis remaining alive and stroke free was also greater than the less than 20% stenotic group (p = 0.03). Thus patients with carotid restenosis were less likely than patients with normal postoperative scans to have late symptoms, stroke, or early death."

Ci sono duplicati nel dataframe?

In [18]:
# Non esistono osservazioni in cui la coppia label-abstract è uguale
len(data[data.duplicated()])

0

In [11]:
# Esistono per duplicati degli abstract
duplicated = data[data['medical_abstract'].duplicated()]
len(duplicated)

2105

In [14]:
# Questo perché gli abstract possono avere più di una classe
for row in range(2105):
    abstract = duplicated.iloc[row]['medical_abstract']
    print(data[data['medical_abstract'] == abstract]['condition_label'])

177    4
505    5
Name: condition_label, dtype: int64
506     5
563     3
6376    4
Name: condition_label, dtype: int64
492     3
580     4
2265    1
Name: condition_label, dtype: int64
58     1
597    3
Name: condition_label, dtype: int64
145     3
708     4
4660    5
Name: condition_label, dtype: int64
62     5
726    2
Name: condition_label, dtype: int64
24      5
737     3
5171    2
Name: condition_label, dtype: int64
90     5
815    1
Name: condition_label, dtype: int64
808    5
892    2
Name: condition_label, dtype: int64
792    4
905    5
Name: condition_label, dtype: int64
229    5
906    4
Name: condition_label, dtype: int64
295    5
997    4
Name: condition_label, dtype: int64
284     5
1011    3
Name: condition_label, dtype: int64
334     1
1013    2
Name: condition_label, dtype: int64
728     3
1027    5
Name: condition_label, dtype: int64
117     3
1092    5
Name: condition_label, dtype: int64
382     1
1146    3
Name: condition_label, dtype: int64
555     2
1167    1
Name: condition_label, dtype: int64
567     1
1203    5
7602    3
Name: condition_label, dtype: int64
774     4
1233    5
Name: condition_label, dtype: int64
97      5
1242    4
Name: condition_label, dtype: int64
709     3
1259    1
Name: condition_label, dtype: int64
865     1
1264    3
Name: condition_label, dtype: int64
502     5
1272    3
Name: condition_label, dtype: int64
1148    1
1310    5
Name: condition_label, dtype: int64
927     4
1313    3
Name: condition_label, dtype: int64
1280    3
1402    1
Name: condition_label, dtype: int64
1419    3
1425    1
Name: condition_label, dtype: int64
249     4
1440    5
Name: condition_label, dtype: int64
904     4
1483    3
1972    5
Name: condition_label, dtype: int64
1480    3
1564    5
Name: condition_label, dtype: int64
1511    1
1565    5
Name: condition_label, dtype: int64
824     1
1576    2
Name: condition_label, dtype: int64
414     3
1598    5
Name: condition_label, dtype: int64
47      4
1599    5
Name: condition_label, dtype: int64
1493    2
1601    5
Name: condition_label, dtype: int64
40      5
1606    4
Name: condition_label, dtype: int64
320     2
1615    5
3871    3
7459    1
Name: condition_label, dtype: int64
1089    5
1639    3
Name: condition_label, dtype: int64
357     5
1659    2
Name: condition_label, dtype: int64
1018    5
1669    4
Name: condition_label, dtype: int64
1206    4
1715    5
Name: condition_label, dtype: int64
431     1
1755    3
Name: condition_label, dtype: int64
86      5
1771    4
Name: condition_label, dtype: int64
1591    2
1777    5
Name: condition_label, dtype: int64
109     5
1780    2
5141    1
Name: condition_label, dtype: int64
1653    5
1826    2
Name: condition_label, dtype: int64
787     4
1835    5
Name: condition_label, dtype: int64
1358    5
1873    4
Name: condition_label, dtype: int64
1870    2
1886    5
Name: condition_label, dtype: int64
1688    5
1928    1
Name: condition_label, dtype: int64
1446    3
1965    5
Name: condition_label, dtype: int64
1065    5
1970    1
Name: condition_label, dtype: int64
904     4
1483    3
1972    5
Name: condition_label, dtype: int64
954     5
1973    3
Name: condition_label, dtype: int64
389     4
1987    3
Name: condition_label, dtype: int64
1938    4
2021    5
Name: condition_label, dtype: int64
1015    5
2028    2
Name: condition_label, dtype: int64
349     4
2043    5
Name: condition_label, dtype: int64
1449    5
2096    2
Name: condition_label, dtype: int64
1003    2
2120    5
4873    4
Name: condition_label, dtype: int64
1614    2
2123    5
Name: condition_label, dtype: int64
1232    1
2135    5
Name: condition_label, dtype: int64
900     1
2163    2
Name: condition_label, dtype: int64
2158    5
2169    3
Name: condition_label, dtype: int64
579     5
2175    2
Name: condition_label, dtype: int64
1685    5
2181    1
Name: condition_label, dtype: int64
257     5
2195    1
Name: condition_label, dtype: int64
771     4
2207    5
Name: condition_label, dtype: int64
1543    2
2232    5
Name: condition_label, dtype: int64
1710    2
2250    5
Name: condition_label, dtype: int64
492     3
580     4
2265    1
Name: condition_label, dtype: int64
1981    5
2274    1
Name: condition_label, dtype: int64
908     5
2275    4
Name: condition_label, dtype: int64
2048    3
2295    4
6546    5
Name: condition_label, dtype: int64
1249     5
2300     3
11028    4
Name: condition_label, dtype: int64
1725    4
2306    5
Name: condition_label, dtype: int64
880     4
2328    5
Name: condition_label, dtype: int64
1307    5
2345    4
Name: condition_label, dtype: int64
1807    5
2355    4
Name: condition_label, dtype: int64
346     4
2363    5
Name: condition_label, dtype: int64
2130    1
2392    5
Name: condition_label, dtype: int64
2272    3
2405    4
2830    5
Name: condition_label, dtype: int64
730     2
2408    5
Name: condition_label, dtype: int64
1059     2
2418     5
10539    1
Name: condition_label, dtype: int64
524     5
2435    2
Name: condition_label, dtype: int64
2430    4
2451    3
Name: condition_label, dtype: int64
1345    5
2458    4
Name: condition_label, dtype: int64
474      4
2475     5
10315    3
Name: condition_label, dtype: int64
1817    3
2477    4
Name: condition_label, dtype: int64
245     5
2495    3
3925    1
Name: condition_label, dtype: int64
1848    2
2496    5
Name: condition_label, dtype: int64
1036    5
2537    1
Name: condition_label, dtype: int64
1633    1
2544    3
Name: condition_label, dtype: int64
1453    2
2552    1
Name: condition_label, dtype: int64
1222    3
2553    1
8500    5
Name: condition_label, dtype: int64
378     5
2557    4
Name: condition_label, dtype: int64
2303    5
2577    3
6172    1
Name: condition_label, dtype: int64
1068    5
2599    4
Name: condition_label, dtype: int64
1104    5
2601    2
8246    3
Name: condition_label, dtype: int64
1002    1
2620    4
8591    5
Name: condition_label, dtype: int64
839     4
2630    5
Name: condition_label, dtype: int64
1176    1
2632    3
Name: condition_label, dtype: int64
220     5
2651    3
Name: condition_label, dtype: int64
38      4
2664    5
Name: condition_label, dtype: int64
1028    3
2669    1
Name: condition_label, dtype: int64
1422    3
2683    5
Name: condition_label, dtype: int64
1155    1
2690    3
Name: condition_label, dtype: int64
1791    5
2700    3
Name: condition_label, dtype: int64
2573    4
2718    5
Name: condition_label, dtype: int64
45      5
2724    1
Name: condition_label, dtype: int64
2481    1
2726    5
Name: condition_label, dtype: int64
2571    4
2740    5
Name: condition_label, dtype: int64
2738    5
2748    4
Name: condition_label, dtype: int64
1618    3
2751    4
Name: condition_label, dtype: int64
1001    5
2761    4
Name: condition_label, dtype: int64
766     5
2775    2
Name: condition_label, dtype: int64
2677    4
2794    5
Name: condition_label, dtype: int64
2785    3
2806    5
Name: condition_label, dtype: int64
1087    5
2812    4
Name: condition_label, dtype: int64
2443    5
2815    4
Name: condition_label, dtype: int64
2272    3
2405    4
2830    5
Name: condition_label, dtype: int64
1551    2
2846    5
Name: condition_label, dtype: int64
2624    1
2863    5
Name: condition_label, dtype: int64
988     1
2870    5
Name: condition_label, dtype: int64
1507    5
2876    3
Name: condition_label, dtype: int64
2249    5
2888    2
Name: condition_label, dtype: int64
178     1
2902    5
Name: condition_label, dtype: int64
1295    5
2906    1
Name: condition_label, dtype: int64
131     2
2911    1
Name: condition_label, dtype: int64
2880    2
2915    1
Name: condition_label, dtype: int64
758     5
2929    1
Name: condition_label, dtype: int64
2747    3
2935    5
Name: condition_label, dtype: int64
1486    5
2937    2
Name: condition_label, dtype: int64
106     2
2940    5
Name: condition_label, dtype: int64
1552    5
2944    2
Name: condition_label, dtype: int64
332     4
2965    1
Name: condition_label, dtype: int64
2309    5
2972    3
Name: condition_label, dtype: int64
656     1
2977    3
Name: condition_label, dtype: int64
2377    3
3012    2
Name: condition_label, dtype: int64
1897    4
3026    5
Name: condition_label, dtype: int64
1019     2
3044     5
10510    4
Name: condition_label, dtype: int64
1177    5
3060    4
Name: condition_label, dtype: int64
2313    3
3064    5
9047    1
Name: condition_label, dtype: int64
3077    4
3083    3
Name: condition_label, dtype: int64
2910    3
3087    1
Name: condition_label, dtype: int64
2470    3
3100    5
Name: condition_label, dtype: int64
591     1
3108    2
Name: condition_label, dtype: int64
2551    5
3118    1
Name: condition_label, dtype: int64
1662    3
3134    5
Name: condition_label, dtype: int64
1029    5
3147    2
Name: condition_label, dtype: int64
468     3
3176    4
Name: condition_label, dtype: int64
935     5
3195    1
Name: condition_label, dtype: int64
1163    5
3196    2
Name: condition_label, dtype: int64
2818    3
3209    5
Name: condition_label, dtype: int64
1048    5
3213    2
Name: condition_label, dtype: int64
941     3
3215    5
Name: condition_label, dtype: int64
947     3
3219    5
Name: condition_label, dtype: int64
3200    5
3221    4
Name: condition_label, dtype: int64
632     5
3227    2
Name: condition_label, dtype: int64
1937    1
3231    3
Name: condition_label, dtype: int64
1612    2
3238    1
Name: condition_label, dtype: int64
3223    2
3254    5
Name: condition_label, dtype: int64
3204    4
3270    5
Name: condition_label, dtype: int64
1119    5
3294    3
Name: condition_label, dtype: int64
2627    2
3302    3
7262    5
Name: condition_label, dtype: int64
2504    4
3307    5
Name: condition_label, dtype: int64
1376    5
3311    4
Name: condition_label, dtype: int64
3121    3
3353    5
Name: condition_label, dtype: int64
1652    4
3364    5
Name: condition_label, dtype: int64
845     5
3366    2
6209    1
Name: condition_label, dtype: int64
91      4
3400    5
Name: condition_label, dtype: int64
3296    4
3425    1
Name: condition_label, dtype: int64
1752    2
3436    5
Name: condition_label, dtype: int64
2674    1
3480    2
8925    5
Name: condition_label, dtype: int64
2438    5
3484    3
Name: condition_label, dtype: int64
1383    4
3490    5
Name: condition_label, dtype: int64
953     3
3493    5
7932    1
Name: condition_label, dtype: int64
3374    2
3500    5
Name: condition_label, dtype: int64
965     2
3502    5
Name: condition_label, dtype: int64
2820    5
3506    2
Name: condition_label, dtype: int64
3487    5
3516    3
Name: condition_label, dtype: int64
1459    4
3524    1
Name: condition_label, dtype: int64
1324    2
3527    4
5351    5
Name: condition_label, dtype: int64
111     1
3530    5
Name: condition_label, dtype: int64
126     1
3533    4
Name: condition_label, dtype: int64
1430    5
3541    4
7477    3
Name: condition_label, dtype: int64
70      4
3543    5
Name: condition_label, dtype: int64
4       3
3547    4
9865    5
Name: condition_label, dtype: int64
2770    1
3560    5
Name: condition_label, dtype: int64
761     5
3577    1
Name: condition_label, dtype: int64
3141    5
3586    4
Name: condition_label, dtype: int64
629     1
3588    5
Name: condition_label, dtype: int64
2976    2
3600    4
Name: condition_label, dtype: int64
1238    1
3601    5
Name: condition_label, dtype: int64
3282    5
3603    4
Name: condition_label, dtype: int64
2901    4
3613    5
Name: condition_label, dtype: int64
29      1
3614    5
Name: condition_label, dtype: int64
1722    2
3618    1
Name: condition_label, dtype: int64
797     1
3620    3
Name: condition_label, dtype: int64
3229    5
3644    1
Name: condition_label, dtype: int64
2248    3
3662    4
Name: condition_label, dtype: int64
1895    5
3670    1
Name: condition_label, dtype: int64
124     5
3674    3
Name: condition_label, dtype: int64
3520    3
3678    5
Name: condition_label, dtype: int64
2658    4
3680    3
Name: condition_label, dtype: int64
1441    4
3690    5
Name: condition_label, dtype: int64
2118    4
3696    1
4478    5
Name: condition_label, dtype: int64
2479    1
3698    5
Name: condition_label, dtype: int64
1000    5
3702    1
3710    2
Name: condition_label, dtype: int64
3002    2
3704    1
Name: condition_label, dtype: int64
227     5
3707    1
Name: condition_label, dtype: int64
1000    5
3702    1
3710    2
Name: condition_label, dtype: int64
3361    5
3713    4
Name: condition_label, dtype: int64
1593    5
3720    2
Name: condition_label, dtype: int64
44      5
3721    3
Name: condition_label, dtype: int64
22      5
3729    2
Name: condition_label, dtype: int64
1556    5
3731    2
Name: condition_label, dtype: int64
710     5
3735    4
Name: condition_label, dtype: int64
1641    3
3746    5
Name: condition_label, dtype: int64
103     5
3752    3
Name: condition_label, dtype: int64
599     1
3759    5
4511    4
Name: condition_label, dtype: int64
485     1
3773    5
8244    2
Name: condition_label, dtype: int64
746     5
3780    3
Name: condition_label, dtype: int64
1702    2
3781    5
Name: condition_label, dtype: int64
2655    5
3786    3
Name: condition_label, dtype: int64
1101    4
3788    5
Name: condition_label, dtype: int64
3653    1
3789    5
Name: condition_label, dtype: int64
1884    4
3811    5
Name: condition_label, dtype: int64
3417    2
3825    1
Name: condition_label, dtype: int64
3769    1
3827    4
Name: condition_label, dtype: int64
2417    4
3829    3
Name: condition_label, dtype: int64
262     5
3831    1
Name: condition_label, dtype: int64
2092    4
3840    3
7578    1
8854    5
Name: condition_label, dtype: int64
2952    5
3861    4
Name: condition_label, dtype: int64
320     2
1615    5
3871    3
7459    1
Name: condition_label, dtype: int64
2774    5
3872    1
Name: condition_label, dtype: int64
2518    5
3876    2
Name: condition_label, dtype: int64
2660    5
3888    1
Name: condition_label, dtype: int64
148     2
3894    5
Name: condition_label, dtype: int64
212     1
3896    5
Name: condition_label, dtype: int64
1331    2
3900    5
Name: condition_label, dtype: int64
718     5
3902    1
Name: condition_label, dtype: int64
1107    1
3921    5
Name: condition_label, dtype: int64
245     5
2495    3
3925    1
Name: condition_label, dtype: int64
3124    1
3928    2
Name: condition_label, dtype: int64
2359    2
3929    5
8798    1
Name: condition_label, dtype: int64
507     3
3930    1
Name: condition_label, dtype: int64
2396    5
3935    1
Name: condition_label, dtype: int64
3686    1
3940    5
Name: condition_label, dtype: int64
2607    2
3946    5
Name: condition_label, dtype: int64
1769    5
3954    1
8523    3
Name: condition_label, dtype: int64
1162    1
3956    5
Name: condition_label, dtype: int64
1226     5
3984     2
11021    4
Name: condition_label, dtype: int64
423     3
3985    4
Name: condition_label, dtype: int64
2245    5
3997    4
Name: condition_label, dtype: int64
1380    4
4002    5
Name: condition_label, dtype: int64
1363    5
4003    4
Name: condition_label, dtype: int64
3637    5
4009    4
Name: condition_label, dtype: int64
1284    1
4016    5
Name: condition_label, dtype: int64
1150    5
4018    1
Name: condition_label, dtype: int64
2575    4
4019    3
Name: condition_label, dtype: int64
3271    5
4020    1
Name: condition_label, dtype: int64
1183    4
4022    3
Name: condition_label, dtype: int64
2545    1
4028    5
Name: condition_label, dtype: int64
3515    2
4033    5
Name: condition_label, dtype: int64
3699    2
4040    5
Name: condition_label, dtype: int64
2513    5
4057    4
Name: condition_label, dtype: int64
160     4
4064    5
Name: condition_label, dtype: int64
3715    5
4080    2
Name: condition_label, dtype: int64
3264    4
4081    5
8277    2
Name: condition_label, dtype: int64
4038    2
4098    5
Name: condition_label, dtype: int64
1757    4
4101    2
9076    5
Name: condition_label, dtype: int64
3191    5
4105    3
Name: condition_label, dtype: int64
1056    5
4106    1
Name: condition_label, dtype: int64
1824    5
4109    4
Name: condition_label, dtype: int64
1337    5
4115    1
Name: condition_label, dtype: int64
2500    5
4117    2
Name: condition_label, dtype: int64
1474    1
4122    3
Name: condition_label, dtype: int64
3986    5
4132    2
Name: condition_label, dtype: int64
1075    1
4133    5
Name: condition_label, dtype: int64
1343    3
4149    1
Name: condition_label, dtype: int64
3621    2
4164    1
Name: condition_label, dtype: int64
61      4
4170    5
Name: condition_label, dtype: int64
1442    5
4178    2
Name: condition_label, dtype: int64
1230    2
4180    4
Name: condition_label, dtype: int64
3347    4
4183    1
Name: condition_label, dtype: int64
4037    1
4192    5
Name: condition_label, dtype: int64
582     5
4207    2
Name: condition_label, dtype: int64
2936    2
4209    3
Name: condition_label, dtype: int64
1159    5
4222    3
Name: condition_label, dtype: int64
3117    5
4228    4
9155    2
Name: condition_label, dtype: int64
2501    1
4238    4
4793    5
Name: condition_label, dtype: int64
1145    2
4246    3
Name: condition_label, dtype: int64
741      5
4253     1
11328    4
Name: condition_label, dtype: int64
3268    1
4257    4
Name: condition_label, dtype: int64
2353    3
4265    5
6662    4
Name: condition_label, dtype: int64
1860    5
4277    4
Name: condition_label, dtype: int64
4073    3
4280    5
Name: condition_label, dtype: int64
3174    5
4291    1
Name: condition_label, dtype: int64
1775    5
4293    4
Name: condition_label, dtype: int64
3194    4
4294    5
6654    3
Name: condition_label, dtype: int64
1717    5
4303    3
Name: condition_label, dtype: int64
1502    3
4318    5
Name: condition_label, dtype: int64
1882    2
4332    5
Name: condition_label, dtype: int64
2656    1
4344    2
9545    5
Name: condition_label, dtype: int64
2087    2
4352    5
Name: condition_label, dtype: int64
4175    5
4370    3
Name: condition_label, dtype: int64
144     4
4392    5
Name: condition_label, dtype: int64
3538    5
4407    2
Name: condition_label, dtype: int64
2903    5
4413    3
Name: condition_label, dtype: int64
1139    1
4416    3
Name: condition_label, dtype: int64
1699     5
4422     4
10435    2
Name: condition_label, dtype: int64
2071    3
4425    4
Name: condition_label, dtype: int64
2286    5
4426    4
Name: condition_label, dtype: int64
2038    3
4428    5
Name: condition_label, dtype: int64
1120    5
4432    4
Name: condition_label, dtype: int64
3008    1
4433    5
Name: condition_label, dtype: int64
1044    5
4435    4
Name: condition_label, dtype: int64
498     2
4440    1
4933    5
Name: condition_label, dtype: int64
2816    2
4441    1
Name: condition_label, dtype: int64
1168    4
4444    5
Name: condition_label, dtype: int64
2072    5
4447    4
Name: condition_label, dtype: int64
3814    3
4450    5
Name: condition_label, dtype: int64
2503    1
4461    3
Name: condition_label, dtype: int64
1650    4
4470    1
Name: condition_label, dtype: int64
2118    4
3696    1
4478    5
Name: condition_label, dtype: int64
516     3
4496    5
8677    4
Name: condition_label, dtype: int64
2768    3
4503    5
Name: condition_label, dtype: int64
4097    5
4510    4
Name: condition_label, dtype: int64
599     1
3759    5
4511    4
Name: condition_label, dtype: int64
1033    3
4512    5
Name: condition_label, dtype: int64
3107    5
4522    2
Name: condition_label, dtype: int64
4234    2
4532    4
Name: condition_label, dtype: int64
2370    4
4535    5
Name: condition_label, dtype: int64
4286    3
4545    2
Name: condition_label, dtype: int64
1508    3
4559    5
Name: condition_label, dtype: int64
514     2
4562    5
Name: condition_label, dtype: int64
2909    5
4568    4
Name: condition_label, dtype: int64
3368    5
4570    1
Name: condition_label, dtype: int64
1986    5
4579    4
Name: condition_label, dtype: int64
1946    1
4584    5
Name: condition_label, dtype: int64
3667    1
4585    5
Name: condition_label, dtype: int64
915     1
4589    5
Name: condition_label, dtype: int64
3920    5
4607    4
Name: condition_label, dtype: int64
102     5
4608    4
Name: condition_label, dtype: int64
2150    4
4614    1

# Costruzione del Dataset da utilizzare

In [23]:
# Costruiamo i set contenente tutti gli abstract (senza duplicati)
abst_set = set(data['medical_abstract'])

In [94]:
Df_abst_set = pd.DataFrame(abst_set, columns = ['medical_abstract'])

In [95]:
# Creiamo una copia
Df_abst = Df_abst_set.copy()
# Aggiungiamo al dataframe 5 colonne corrispondenti a ciascuna label
for label in range(1,6):
    Df_abst[label] = 0

In [96]:
pd.reset_option('display.max_colwidth')
Df_abst.head()

                                    medical_abstract  1  2  3  4  5
0  Primary neoplasms of the hollow organs of the ...  0  0  0  0  0
1  Combination therapy for anaplastic giant cell ...  0  0  0  0  0
2  Multiple gunshot wounds of the head: an anthro...  0  0  0  0  0
3  False aneurysm of the internal mammary artery....  0  0  0  0  0
4  Inflammatory nodular reactions after hepatitis...  0  0  0  0  0

In [97]:
for row in range(len(Df_abst_set)):
    abst = Df_abst_set.iloc[row]['medical_abstract']
    # Cerca tutte le osservazioni con il suddetto abstract ed estraine la condition_label
    label_list = list(data[data['medical_abstract'] == abst]['condition_label'])
    # Per ogni label nella lista, cambia il valore del dataframe in "1"
    for label in label_list:
        Df_abst.iloc[row, label] = 1

In [98]:
Df_abst

                                       medical_abstract  1  2  3  4  5
0     Primary neoplasms of the hollow organs of the ...  1  0  0  0  0
1     Combination therapy for anaplastic giant cell ...  1  0  0  1  0
2     Multiple gunshot wounds of the head: an anthro...  0  0  0  0  1
3     False aneurysm of the internal mammary artery....  0  0  0  1  0
4     Inflammatory nodular reactions after hepatitis...  0  0  0  0  1
...                                                 ... .. .. .. .. ..
9440  Differences in QRS configuration during unipol...  0  0  0  1  0
9441  Cytotoxic T cell clones isolated from ovarian ...  1  0  0  0  0
9442  Mononuclear phagocytes: a major population of ...  1  0  0  0  0
9443  Improved postoperative course after spinous pr...  0  0  0  0  1
9444  Serum CA 125 levels during the menstrual cycle...  1  0  0  0  0

[9445 rows x 6 columns]

## Quante osservazioni per ciascuna classe?

In [105]:
for i in range(1,6):
    print(str(i) + ': ' + str(sum(Df_abst.iloc[:,i])))

1: 2530
2: 1195
3: 1540
4: 2441
5: 3844

## Train-Test Split

In [106]:
train, test = train_test_split(Df_abst, test_size = 0.25, random_state = 1234)

In [107]:
for i in range(1,6):
    print(str(i) + ': ' + str(sum(train.iloc[:,i])))

1: 1874
2: 887
3: 1181
4: 1832
5: 2875

In [108]:
for i in range(1,6):
    print(str(i) + ': ' + str(sum(test.iloc[:,i])))

1: 656
2: 308
3: 359
4: 609
5: 969

In [ ]:
# Save No PreProcessing
train.to_csv('Data/No PreProcessing/train.csv')
test.to_csv('Data/No PreProcessing/test.csv')

# PreProcessing

## StopWords Removal

In [109]:
def preprocess(text):
    # Remove punctuation and other non-alphanumeric characters
    text =  re.sub('[^a-zA-Z]', ' ', text)
    # Tokenize the text into words
    words = word_tokenize(text.lower())
    # Remove stop words
    words = [word for word in words if word not in stopwords.words('english')]
    # Join the words back into a string
    return ' '.join(words)

In [110]:
train['medical_abstract'] = train['medical_abstract'].apply(lambda x: preprocess(x))
test['medical_abstract'] = test['medical_abstract'].apply(lambda x: preprocess(x))

In [111]:
# Save train and test data
train.to_csv('Data/StopWords/train.csv')
test.to_csv('Data/StopWords/test.csv')

## StopWords with Acronyms

In [2]:
train = pd.read_csv('Data/No PreProcessing/train.csv')
test = pd.read_csv('Data/No PreProcessing/test.csv')

In [28]:
def preprocessA(text):
    # Remove punctuation and other non-alphanumeric characters
    text =  re.sub('[^a-zA-Z]', ' ', text)
    # Set everything to lower except for Acronyms
    words = text.split(' ')
    text = ' '.join([x.lower() for x in words if re.match(r'[A-Z]?[a-z]+$', x)])
    # Tokenize the text into words
    words = word_tokenize(text)
    # Remove stop words
    words = [word for word in words if word not in stopwords.words('english')]
    # Join the words back into a string
    return ' '.join(words)

In [29]:
train['medical_abstract'] = train['medical_abstract'].apply(lambda x: preprocessA(x))
test['medical_abstract'] = test['medical_abstract'].apply(lambda x: preprocessA(x))

In [32]:
# Save train and test data
train.to_csv('Data/StopWordsA/train.csv')
test.to_csv('Data/StopWordsA/test.csv')

## Lemmatization

In [2]:
train = pd.read_csv('Data/StopWords/train.csv')
test = pd.read_csv('Data/StopWords/test.csv')

In [3]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\david\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [4]:
from nltk.stem import WordNetLemmatizer
wordlemmatizer = WordNetLemmatizer()

def lemmatizer(text):
    text = text.split(' ')
    lemm_text = ' '.join([wordlemmatizer.lemmatize(word) for word in text])
    return lemm_text

train['medical_abstract']= train['medical_abstract'].apply(lambda x: lemmatizer(x))
test['medical_abstract']= test['medical_abstract'].apply(lambda x: lemmatizer(x))

In [5]:
# Save train and test data
train.to_csv('Data/StopWords + Lemm/train.csv')
test.to_csv('Data/StopWords + Lemm/test.csv')